<div class="app-container">
  <app-header />
  <app-navbar />

  <div class="main-layout">
    <aside class="sidebar">
      <h4
        style="
          color: var(--text-muted);
          font-size: 0.8rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
        ">
        Catálogo
      </h4>
      @for (ex of ejercicios; track $index) {
        <app-card [titulo]="ex.titulo" [desc]="ex.desc" [ruta]="ex.ruta" />
      }
    </aside>

    <main class="content-viewport">
      <div class="view-wrapper">
        <div class="lab-title">Laboratorio de Pruebas</div>
        <router-outlet />
      </div>
    </main>
  </div>

  <app-footer />
</div>
