.counter-box {
  text-align: center;

  .circle-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #f1f5f9;
    background: var(--bg-card);
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: rotate(10deg) scale(1.05);
    }

    &:active {
      transform: scale(0.9);
    }

    &.warning {
      border-color: orange;
      color: orange;
    }

    &.danger {
      border-color: #ef4444;
      color: #ef4444;
    }
  }
}
